asgiref==3.8.1
distlib==0.3.8
dj-database-url==2.2.0
Django==5.1
django-debug-toolbar==4.4.6
djangorestframework==3.15.2
filelock==3.15.4
gunicorn==23.0.0
numpy==2.0.0
packaging==24.1
pandas==2.2.2
patsy==0.5.6
pillow==10.4.0
platformdirs==4.2.2
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.1
scipy==1.14.0
six==1.16.0
sqlparse==0.5.1
statsmodels==0.14.2
typing_extensions==4.12.2
tzdata==2024.1
virtualenv==20.26.3
whitenoise==6.7.0
